# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/
ENV/
.build/

# Logs / data
logs/
*.log
*.csv

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node (por si después metes cliente web)
node_modules/
dist/
